body {
    margin: 0px;
}

html {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0px;
}

a {
    text-decoration: none;
}

.section-wrapper {
    max-width: 1110px;
    margin: auto;
    padding-left: 56px;
    padding-right: 56px;
}

.top-section {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    align-items: center;
    padding-bottom: 80px;
}

.header { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.right-links {
    display: flex;
    gap: 16px;
}

.right-links a {
    font-size: 16px;
    color: #E5E7EB;
}

.placeholder {
    height: 200px;
}

.top-content {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-content {
    font-size: 16px;
    color: #E5E7EB;
}

button {
    color: #E5E7EB;
    background-color: #3882F6;
    border-style: none;
    font-weight: 900;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 6px;
    margin-top: 16px;
}

.icon {
    width: 140px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    font-size: 12px;
    color: #6a6a6b
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
}

.grid {
    display: flex;
    justify-content: space-around;
    gap: 32px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 24px;
    margin-bottom: 16px;
}

img {
    border-radius: 6px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0;
    margin-top: 0;
}

.caption {
    font-weight: 900;
    align-self: end;
    margin-top: 0px;
}

.signup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    margin-left: 112px;
    margin-right: 112px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 36px;
    padding-bottom: 36px;
    border-radius: 6px;
    padding-right: 64px;
    padding-left: 64px;
}

.sign-header {
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

.sign-content {
    color: #F9FAF8;
    font-weight: 300;
    font-size: 10px;
    margin: 0px;
}

button.bottom-button {
    border-color: #F9FAF8;
    border-style: solid;
    border-width: 1px;
    margin-top: 0px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-weight: 300px;
    font-size: 10px;
    padding-top: 24px;
    padding-bottom: 24px;
}